@page
@model ThreeShades.MVC.ViewModels.DutyList
@{
    Layout = "_Layout";
}
<div>
    <partial name="_Active"/>
    <partial name="Details" hidden/>
    <partial name="_Scripts" hidden/>
    <partial name="_Styles" hidden/>
</div>