@{
    Layout = null;
}

<table class="table-responsive" id="Active">
    <thead>
        <tr>
            <th>Titre</th>
            <th>Deadline</th>
            <th>Actions</th>
        </tr>
    </thead>
</table>