@{
    Layout = null;
}

<table class="table-responsive" id="Canceled" hidden>
    <thead>
        <tr>
            <th>Titre</th>
            <th>Date d'annulation</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>