@model ListDutyViewModel
@{
    Layout = "_Layout";
}

<div>
    <div class="nav-actions">
        <button class="btn btn-fab btn-info edit" href="#_Edit" onclick="edit()">Créer</button>
    </div>
    <div class="card text-center container" id="dutyListContainer">
        <div class="card-header row">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <button class="nav-link active" id="active" onclick="selectTab('active')">Active</button>
                </li>
                <li class="nav-item">
                    <button class="nav-link" id="done" onclick="selectTab('done')">Achieved</button>
                </li>
                <li class="nav-item">
                    <button class="nav-link" id="canceled" onclick="selectTab('canceled')">Canceled</button>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <partial name="_TabActive"/>
            <partial name="_TabDone" />
            <partial name="_TabCanceled" />
        </div>
    </div>
</div>
<script src="~/js/dutyList.js"></script>