@model ListDutyViewModel
@{
    Layout = "_Layout";
}

<div>
    @*@if (Model.Details != null)
    {
    <partial name="_Details" model="@Model.Details" />
    }

    @if (Model.Edit != null)
    {
    <partial name="_Edit" model="@Model.Edit"/>
    }*@
    <div class="card text-center container" id="dutyListContainer">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <button class="nav-link active" id="active" onclick="selectTab('active')">Active</button>
                </li>
                <li class="nav-item">
                    <button class="nav-link" id="done" onclick="selectTab('done')">Achieved</button>
                </li>
                <li class="nav-item">
                    <button class="nav-link" id="canceled" onclick="selectTab('canceled')">Canceled</button>
                </li>
                @*<li>
                    <button class="nav-link edit" href="#_Edit" onclick="edit()">Créer</a>
                </li>*@
            </ul>
        </div>
        <div class="card-body">
            <partial name="_TabActive"/>
            <partial name="_TabDone" />
            <partial name="_TabCanceled" />
        </div>
    </div>
</div>
<script src="~/js/dutyList.js"></script>